.header {
    text-align: center;
}

.sheader {
    text-align: center;
    margin-top: -1rem;
}

.table {
    width: 100%;
    font-size: 30px;
}

.input {
    width: 90%;
    height: 25px;
    font-size: 25px;
}

.btnnext {
    width: 90px;
    height: 50px;
    font-size: 20px;
}

.btnprev {
    width: 119px;
    height: 50px;
    font-size: 20px;
}